[submodule "wecom_responder/utils/wecomreceiver"]
	path = wecom_responder/utils/wecomreceiver
	url = https://github.com/barryZZJ/wecomreceiver
[submodule "wecom_responder/utils/tvsubscribebot"]
	path = wecom_responder/utils/tv_subscribe_bot
	url = https://github.com/zhimengsub/TVSubscribeBot
	branch = framework
[submodule "wecom_responder/utils/wecomsan"]
	path = wecom_responder/utils/wecomsan
	url = https://github.com/barryZZJ/wecomsan.git
