aiolimiter==1.1.1
annotated-types==0.7.0
anyio==4.10.0
APScheduler==3.10.4
blinker==1.9.0
cachetools==5.3.3
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
dnspython==2.8.0
Flask==3.1.2
greenlet==3.2.4
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
loguru==0.7.3
MarkupSafe==3.0.2
ptbcontrib @ git+https://github.com/python-telegram-bot/ptbcontrib.git@5213e2bbd91f27afa2cdbc3a475ba7eafef89344
pycryptodome==3.23.0
pydantic==2.0.3
pydantic_core==2.3.0
pymongo==4.14.1
python-telegram-bot==20.3
pytz==2025.2
requests==2.32.5
six==1.17.0
sniffio==1.3.1
SQLAlchemy==1.4.46
tornado==6.5.2
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
urllib3==2.5.0
-e git+https://github.com/barryZZJ/wecomreceiver@0532204f79a534e2cf6283beb49f1a9f99bb9daf#egg=wecomreceiver&subdirectory=..\..\..\..\wecom_responder\utils\wecomreceiver
-e git+https://github.com/barryZZJ/wecomsan.git@7da9f8b01ea671141b9f208b35b151d360a09ac1#egg=wecomsan&subdirectory=..\..\..\..\wecom_responder\utils\wecomsan
Werkzeug==3.1.3
win32_setctime==1.2.0
